.card {
    width: 18.5rem;
    /* height: 375px; */
    margin: 7.5px;
    border-color: white;
}

.cardHeading {
    font-size: large;
    font-weight: bold;
}

.b {
    height: 210px;
    width: 265px;
}

.card-header {
    background-color: white;
    border-color: white;
}

.card-footer {
    background-color: white;
    border-color: white;
}
