/* .itemCard {
    display: flex;

} */

/* 
.cardRow {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
} */


.cardRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.item {
    flex: 0 1 120px;
}